body {
    background-image: url('../../images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    color: #fff;
  }
  
  .container {
    background-color: #495057cc;
    padding: 20px;
  }
  
  .register-panel {
    background-color: #212529;
    padding: 20px;
    border-radius: 5px;
  }
  
  .register-panel h3 {
    margin-bottom: 20px;
  }
  
  .register-panel button {
    background-color: #007bff;
    color: #fff;
  }
  
  .register-panel button:hover {
    background-color: #0056b3;
  }
  