/* Colors */
.bgcolor-darker {background-color: #120907;}
.bgcolor-dark {background-color: #161e3a;}
.bgcolor3-medium {background-color: #4b4391;}
.bgcolor4-light {background-color: #7e77e4;}
.bgcolor5-lighter {background-color: #aed8eb;}

/* Website */
body {
  background-image: url('../../images/index-background.jpg');
  background-attachment: fixed;
  color: #aed8eb;
}
.hello-message{
  font-size: 18px;
  color: #aed8eb;
  margin: auto;
  margin-right: 20px;
  font-weight: bold;
}

.container {
  margin-top: 50px;
}

.navbar {
  background-color: #070b12f3;
}

.nav-link{
  margin-right: 10px;
}

/* Modern design */
h2 {
  color: #aed8eb;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.table th,
.table td {
  color: #ffffff;
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #779ae4;
}

.table th {
  font-weight: bold;
}

.table tbody tr:nth-child(even) {
  background-color: #4b439193
}

.table tbody tr:hover {
  background-color: #7e77e4;
}